.bg-dark-blue {
  background-color: 004f9a;
}

.bg-white {
  background-color: white;
}

.bg-transparent {
  background-color: transparent;
}

.bg-gold {
  background-color: #ffc220;
}

.brc-transparent {
  border-color: transparent;
}
.white {
  color: white;
}

.bg-blue {
  background-color: #0071dc;
}
