@media screen and (max-width: 600px) {
  body {
    background-color: black;
  }
  header div .reorder,
  header div .dropdown,
  header div .services {
    display: none;
  }

  header .logo {
    margin-right: 113px;
    height: 15px;
    width: 15px;
  }
  header {
    width: auto;
  }
  header div .searchbar {
    width: 125px;
  }
  .navbar {
    padding: 2px;
  }
  .SignIn {
    margin-left: 0px;
  }
  .main .slider img {
    width: 400px;
    height: 90px;
  }
}
